# Build output
/build/
/cmake-build-debug/
/cmake-build-release/
/out/

# IDE
/.idea/
/.vs/
*.user

# Compiled objects / binaries
*.o
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb

# CUDA
*.ptx
*.cubin

# OS
Thumbs.db
.DS_Store

# generated test outputs
Tests/data/*_edges.png
